{% extends "dashboard/base.html" %}
{% load static %}
{% block page %}
    <title>Dumogho's Product Manager</title>
{% endblock page %}
{% block content %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage<b>Products</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <!-- <a href="#addProductModal" class="btn btn-success js-create-product" data-fetch-url="{% url 'product-create' %}" data-target="#addProductModal" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i> <span>Add New Product</span>
                        </a> -->
                        <button type="button" class="btn btn-success js-create-product" data-url="{% url 'product-create' %}">
                            <i class="material-icons">&#xE147;</i> <span>Add New Product</span>
                        </button>
                        <a href="#deleteProductModal" class="btn btn-danger" data-toggle="modal">
                            <i class="material-icons">&#xE15C;</i> <span>Delete All</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="product-table">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" name="" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date Added</th>
                        <th>Category</th>
                        <th>Product Code</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'dashboard/partial_product_list.html' %}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>100</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
            <!-- Edit Modal HTML -->
            <div id="addProductModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                    </div>
                </div>
            </div>

            <!-- Delete Modal HTML -->
            <div id="deleteProductModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Product</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'dashboard/js/script.js' %}"></script>
{% endblock scripts %}