<form method="POST" action="{% url 'product-delete-all' %}" class="js-product-mass-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm Product Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete these Products?</p>
        <p class="text-warning"><small>This action cannot be undone.</small></p>
        <input type="hidden" name="{{ csrf_token }}" id="btn-csrf">
    </div>
    <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
        <input type="submit" value="Delete Products" class="btn btn-info">
    </div>
</form>