<form method="POST" action="{% url 'product-update' form.instance.pk %}" class="js-product-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update Existing Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        {% include 'dashboard/partial_product_form.html' %}
    </div>
    <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
        <input type="submit" value="Update Product" class="btn btn-info">
    </div>
</form>